<html>
	<head>
		<title>AngularJS App</title>
		<script type="text/javascript" src="bower_components/angularjs/angular.js"></script>

		<script type="text/javascript" src="distribution/Main.js"></script>
		<link rel="stylesheet" type="text/css" href="distribution/Styles.css">
	</head>

	<body ng-app="TimerApp">
		<div ng-controller="TimerController" ng-init="init()">
			<div class="Top">
				<div class="timer-label">
					<label ng-bind="currentTimer.hours"></label> :
					<label ng-bind="currentTimer.minutes"></label> :
					<label ng-bind="currentTimer.seconds"></label>
				</div>
				<div class="start-timer button" ng-click="startCurrentTimer()">Start Timer</div>
				<div class="save-timer button" ng-click="save(currentTimer)">Save Timer</div>
			</div>

			<div class="list-container">
				<div class="timer" ng-repeat="timer in history">
					<div class="header">{{timer.entry_date}}</div>
					<div class="time">
						{{timer.hours}} : {{timer.minutes}} : {{timer.seconds}}
					</div>
				</div>
			</div>
		</div>
	</body>
</html>